
body{
    width: 100%;
    height: auto;
}
#bg{
    /* width: 100vw;
    height: 100vh; */
    background-image: url(../images/D8ne_bg.png);
    background-size: 80vw;
    background-repeat: no-repeat;
    background-position: center;
}
.container{
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
}
.area {
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: start;
    height: 100vh;
}
.content {
    width: 80vw;
    height: 80vh;
    margin: auto;
    padding-top: 130px;
    /* border: solid 1px red; */
}
#logo{
    width: 30vw;
}
table{
    margin: auto;
}
.img{
    width: 20vw;
    padding: 10px;;
}
th{
    width: 20vw;
    /* border: solid 1px red; */
}
th h3{
    font-size: 1.4rem;
    color: pink;
    padding: 15px;
}
#downtowner,#knotted{
    width: 80vw;
    margin: auto;
    border: solid 1px greenyellow;
}
.text_box {
    width: 65vw;
    height: 50px;
    margin: auto;
    background-color: pink;
    color: black;
}
.text_box h1{
    font-size: 2.5rem;
    font-weight: 900;
}
#car1, #car2, #car3, #car4, #car5, #car6 {
    width: 20vw;
    margin: 0 5px 0 5px;
}
#car1:hover{
    content: url(../images/D8ne_car1_hover.png);
}
#car2:hover{
    content: url(../images/D8ne_car2_hover.png);
}
#car3:hover{
    content: url(../images/D8ne_car3_hover.png);
}
#car4:hover{
    content: url(../images/D8ne_car4_hover.png);
}
#car5:hover{
    content: url(../images/D8ne_car5_hover.png);
}
#car6:hover{
    content: url(../images/D8ne_car6_hover.png);
}
/* #downtowner:hover{
    content: url(../images/D8ne_downtowner_hover.png);
}
#knotted:hover{
    content: url(../images/D8ne_knotted_hover.png);
} */