body {
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
    font-weight: 700;
}


#bg {
    /* width: 100vw;
    height: 100vh; */
    background-image: url(../images/D8ne_bg.png);
    background-size: 80vw;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

.area {
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: start;
    height: 100vh;
}

.content {
    width: 80vw;
    height: 60vh;
    margin: auto;
    padding-top: 130px;
    /* border: solid 1px red; */
}

#logo {
    width: 30vw;
}

table {
    margin: auto;
}

.img,
#car1,
#car2,
#car3,
#car4,
#car5,
#car6 {
    width: 15vw;
    padding: 10px;
}

th {
    width: 15vw;
    /* border: solid 1px red; */
}

th h3 {
    font-size: 1.15rem;
    color: pink;
}

.text_box {
    width: 50vw;
    margin: auto;
    background-color: pink;
    color: black;
}

.text_box h1 {
    font-size: 2rem;
    font-weight: 900;
}

#car1:hover {
    content: url(../images/D8ne_car1_hover.png);
}

#car2:hover {
    content: url(../images/D8ne_car2_hover.png);
}

#car3:hover {
    content: url(../images/D8ne_car3_hover.png);
}

#car4:hover {
    content: url(../images/D8ne_car4_hover.png);
}

#car5:hover {
    content: url(../images/D8ne_car5_hover.png);
}

#car6:hover {
    content: url(../images/D8ne_car6_hover.png);
}

/* #downtowner:hover{
    content: url(../images/D8ne_downtowner_hover.png);
}
#knotted:hover{
    content: url(../images/D8ne_knotted_hover.png);
} */