#footer_logo {
    float: left;
    padding: 25px;
}
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

body{
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
    font-weight: 700;
}
#footer_logo img {
    width: 150px;
    padding: 10px;
}
#footer_text{
    float: right;
    text-align: right;
    width: 30%;
    height: 100px;
    padding: 15px;
    color: black;
    /* border: solid 1px red; */
}
.bold{
    font-weight: 900;
    font-size: 1.1rem;
    margin-top: 10px;
}