#footer_logo {
    float: left;
    padding: 25px;
}

#footer_logo img {
    width: 150px;
    padding: 10px;
}
#footer_text{
    float: right;
    text-align: right;
    width: 30%;
    height: 100px;
    padding: 15px;
    color: black;
    /* border: solid 1px red; */
}
.bold{
    font-weight: 900;
    font-size: 1.1rem;
    margin-top: 10px;
}