* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/bg01.gif);
    background-size: 100%;
    background-repeat: no-repeat;
}

img {
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img:hover {
    content: url(../images/logo_hover.png);
}