
/* #bg{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/parts_bg.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
} */
.container{
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
}
.area {
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: start;
    height: 100vh;
}
.area video{
    width: 100vw;
    height: 80vh;
    margin-top: 150px;
    /* border: solid 1px red; */
}
.content {
    width: 80vw;
    height: 60vh;
    margin: auto;
    padding-top: 130px;
    /* border: solid 1px red; */
}
.content h2{
    font-size: 2rem;
    text-align: center;
    color: pink;
}
.img{
    width: 20vw;
    padding: 10px;
}
table{
    margin: auto;
}
th{
    width: 20vw;
    /* border: solid 1px red; */
}
th h3{
    font-size: 1.4rem;
    color: pink;
    padding: 15px;
}