body {
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
    font-weight: 700;
  }
.container{
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
}
.area {
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: start;
    height: 100vh;
}
.area video{
    width: 100vw;
    height: 80vh;
    margin-top: 150px;
    /* border: solid 1px red; */
}
.content {
    width: 80vw;
    height: 60vh;
    margin: auto;
    padding-top: 130px;
    /* border: solid 1px red; */
}
.content h2{
    font-size: 2rem;
    text-align: center;
    color: pink;
}
.img{
    width: 15vw;
    padding: 10px;
}
table{
    margin: auto;
}
th{
    width: 15vw;
    /* border: solid 1px red; */
}
th h3{
    font-size: 1.15rem;
    color: pink;
    padding: 10px;
}