section {
    height: 100vh;
}
video {
    width: 100vw;
    height: 100vh;
}
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
    font-weight: 700;
  }
.container{
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
}
.area {
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: start;
    height: 100vh;
}
#bg{
    background-image: url(../images/timeless.gif);
    background-repeat: no-repeat;
    background-size: 95vw;
    background-position: center;
    justify-content: center;
}